{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:.
 * - view: The view object.
 */
#}
<div class="fullcalendar-status"></div>
<div class="fullcalendar"></div>
<div class="fullcalendar-content"></div>